th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #9999CC;
	text-align: center;
}
td {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}
.titleheading {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}
.results {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left: 10px;
}
h5 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-transform: none;
	color: #000000;
	text-align: left;
	vertical-align: top;
}
h4 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	font-style: normal;
	text-transform: none;
	text-align: left;
	vertical-align: top;
}
.sectionHeaderCbox {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	background-color: #9999CC;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.value {
	background-color: #CCCCFF;
	color: #000000;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}
.value_light {
	background-color: #CCCCFF;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}
.child {
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}
.child_name {
	background-color: #FFFFCC;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left: 25px;
}
.editOption {
	background-color: #FFFFCC;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	font-style: italic;
}
.valueitalic {
	background-color: #CCCCFF;
	color: #000000;
	font-weight: bold;
    font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}
.valuebold {
	background-color: #CCCCFF;
	color: #000000;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.bold {
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left: 10px;
}
.reportCheckbox {
	background-color: #FFFFFF;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
}
h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	font-style: normal;
	text-transform: none;
	text-align: right;
	vertical-align: bottom;
}
.center {
	text-align: center;
}
a:link {
	color: #0000FF;
}
a:visited {
	color: #5500bb;
}
a:hover {
	color: #9900ff;
}
.terminal {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #7777bb;
	border-left-style: 10;
	text-align: left;
	text-indent: 5px;
	font-weight: bold;
}
.primary {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #889988;
	text-align: left;
	text-indent: 5px;
	font-weight: bold;
	white-space: nowrap;
}
.secondary {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #669988;
	text-align: left;
	text-indent: 5px;
	font-weight: bold;
	white-space: nowrap;
}
.warning {
	background-color: #FF0000;
}


.textbox {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	white-space: normal;
}

.pulldown {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;    
}

.textentry {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;    
}

.buttons {
	background-color:#FFFF00;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	width: 106px;
}

.editbuttons {
    	background-color:#FFFF00;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
}
.lastnextbuttons {
	background-color:#FFFFFF;
	width:50%;
}

.searchCriteria {
	background-color: #dddddd;
	position: absolute;
	height: 95px;
	z-index: 1;
	width: 1085px;
	left: 0px;
	top: 60px;
	border-top: none;
	border-right: none;
	border-bottom: 0px ridge;
	border-left: none;
}
.javascriptDisabledWarning {
	background-color: #FFFFFF;
	position: absolute;
	z-index: 1;
	width: 700px;
	left: 55px;
	top: 209px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: 3px ridge;
}
.searchResults {
    	overflow: auto;
	position: absolute;
	height: 375px;
	width: 739px;
	left: 343px;
	top: 155px;
	z-index: 1;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: none;
	background-color: #FFFFFF;
}

.searchBlankEditResults {
    overflow: auto;
	position: absolute;
	width: 739px;
	left: 343px;
	top: 155px;
	z-index: 2;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: none;
	background-color: #FFFFFF;
}

.searchEditResults {
    overflow: auto;
	position: absolute;
	width: 740px;
	left: 342px;
	top: 155px;
	z-index: 2;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: none;
	background-color: #FFFFFF;
}

.searchEditCreateNewAOI {
    overflow: auto;
	position: absolute;
	width: 740px;
	left: 342px;
	top: 155px;
	z-index: 2;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: none;
	background-color: #FFFFFF;
}

.searchWorklogFormat {
    	overflow: auto;
	position: absolute;
	height: 1084px;
	width: 740px;
	left: 342px;
	top: 1200px;
	z-index: 2;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: none;
	background-color: #FFFFFF;
}

.aoiEditTool {
	overflow: auto;
	position: absolute;
	width: 739px;
	height:46px;
	left: 343px;
	top: 155px;
	z-index: 2;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: none;
	background-color: #FFFFFF;
}

.searchResultsAOINames {
    overflow: auto;
	position: absolute;
	height: 734px;
	width: 340px;
	left: 0px;
	top: 155px;
	z-index: 3;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: none;
	background-color: #FFFFFF;
}
.aoiReportTool {
	overflow: auto;
	position: absolute;
	z-index: 6;
	top: 694px;
	height: 200px;
	left: 0px;
	width: 340px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: none;
	background-color: #FFFFFF;
}
.searchResultsUPC {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 110px;
	width: 739px;
	left: 340px;
	top: 1345px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}
.searchEditResultsUPC {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 150px;
	width: 739px;
	left: 340px;
	top: 1139px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}
.searchResultsPV {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 200px;
	width: 739px;
	left: 340px;
	top: 1152px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}
.searchEditResultsPV {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 150px;
	width: 739px;
	left: 340px;
	top: 833px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}
.searchResultsTopdisplay {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 130px;
	width: 739px;
	left: 340px;
	top: 1490px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}

.searchEditResultsTopdisplay {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 110px;
	width: 739px;
	left: 340px;
	top: 534px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}

.searchResultsStCmdLine {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 130px;
	width: 739px;
	left: 340px;
	top: 1235px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}
.searchEditResultsStCmdLine {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 150px;
	width: 739px;
	left: 340px;
	top: 986px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}
.searchResultsDocument {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 90px;
	width: 739px;
	left: 340px;
	top: 9970px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}

.searchEditResultsDocument {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 188px;
	width: 739px;
	left: 340px;
	top: 642px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}

.searchResultsRevhistory {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 90px;
	width: 739px;
	left: 340px;
	top: 542px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: none;
	background-color: #FFFFFF;
}

.searchEditResultsRevhistory {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 150px;
	width: 739px;
	left: 340px;
	top: 840px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}

.searchResultsDetails {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 24px;
	width: 741px;
	left: 340px;
	top: 640px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: none;
	background-color: #FFFFFF;
}
.searchEditResultsDetails {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 47px;
	width: 735px;
	left: 344px;
	top: 833px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}
.searchResultsNote {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 150px;
	width: 742px;
	left: 340px;
	top: 440px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 3px ridge;
	background-color: #FFFFFF;
}

.searchEditResultsNote {
    overflow: auto;
    z-index: 1;
	position: absolute;
	height: 150px;
	width: 742px;
	left: 340px;
	top: 678px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 0px ridge;
	border-left: 0px ridge;
	background-color: #FFFFFF;
}

.header {
	position: absolute;
	z-index: 1;
	height: 90px;
	width: 1085px;
	left: 0px;
	top: 6px;
	vertical-align: middle;
	background-image: url(images/header_bkgnd.png);
	background-repeat: repeat-x;
	background-color: #dddddd;
}
.irmis2ReportSelection {
	background-color: #FFFFFF;
	position: absolute;
	z-index: 2;
	height: 497px;
	width: 182px;
	left: 0px;
	top: 96px;
	border-top: 3px ridge;
	border-right: 3px ridge;
	border-bottom: 3px ridge;
	border-left: none;
}
img {
	border: 0px none;
}
.irmis2Main {
	position: absolute;
	z-index: 2;
	height: 460px;
	width: 200px;
	left: 186px;
	top: 96px;
	border: 1px none #000000;
}
.valuedim {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #555555;
	font-weight: bold;
	background-color: #778877;
	text-align: left;
	text-indent: 5px;
}
