[mysql]
socket=/home/oxygen/SVESELI/cdb/var/run/mysqld/mysql.sock

[mysqld]
datadir=/home/oxygen/SVESELI/cdb/data
socket=/home/oxygen/SVESELI/cdb/var/run/mysqld/mysql.sock
log-error=/home/oxygen/SVESELI/cdb/var/log/mysqld/mysqld.log
pid-file=/home/oxygen/SVESELI/cdb/var/run/mysqld/mysqld.pid
user=sveseli
port=3306
#bind-address=127.0.0.1
symbolic-links=0

[mysqld_safe]
log-error=/home/oxygen/SVESELI/cdb/var/log/mysqld/mysqld.log
pid-file=/home/oxygen/SVESELI/cdb/var/run/mysqld/mysqld.pid
