[mysql]
socket=/home/oxygen39/SVESELI//Work/CDB/var/run/mysqld/mysql.sock

[mysqld]
datadir=/home/oxygen39/SVESELI//Work/CDB/data
socket=/home/oxygen39/SVESELI//Work/CDB/var/run/mysqld/mysql.sock
log-error=/home/oxygen39/SVESELI//Work/CDB/var/log/mysqld/mysqld.log
pid-file=/home/oxygen39/SVESELI//Work/CDB/var/run/mysqld/mysqld.pid
user=sveseli
port=3306
#bind-address=127.0.0.1
symbolic-links=0

[mysqld_safe]
log-error=/home/oxygen39/SVESELI//Work/CDB/var/log/mysqld/mysqld.log
pid-file=/home/oxygen39/SVESELI//Work/CDB/var/run/mysqld/mysqld.pid
