[mysql]
socket=/local/sveseli/CMS/var/run/mysqld/mysql.sock

[mysqld]
datadir=/local/sveseli/CMS/data
socket=/local/sveseli/CMS/var/run/mysqld/mysql.sock
log-error=/local/sveseli/CMS/var/log/mysqld/mysqld.log
pid-file=/local/sveseli/CMS/var/run/mysqld/mysqld.pid
user=sveseli
port=3306
#bind-address=127.0.0.1
symbolic-links=0

[mysqld_safe]
log-error=/local/sveseli/CMS/var/log/mysqld/mysqld.log
pid-file=/local/sveseli/CMS/var/run/mysqld/mysqld.pid
