html, body {
    background-color: #ebf4fa;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    margin: 0px;
    height: 100%;
}

a:link, a:visited {
    color: #4e80b6;
    font-weight: bold;
}

a:link:hover, a:visited:hover  {
    color: #6da5d8;
    font-weight: bold;
}

#top {
    position: relative;
    color: white;

    /* IE10 */
    background-image: -ms-linear-gradient(top, #4e80b6 0%, #6da5d8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #4e80b6 0%, #6da5d8 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #4e80b6 0%, #6da5d8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4e80b6), color-stop(1, #6da5d8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #4e80b6 0%, #6da5d8 100%);
    /* Proposed W3C Markup */
    background-image: linear-gradient(top, #4e80b6 0%, #6da5d8 100%);
    /* IE6-9 */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e80b6', endColorstr='#6da5d8');

    padding: 15px;
    margin: 0px 0px 0px 0px;
    height: 75px;
}

#menu {
    background-color: #6da5d8;
}

#middle {
    //min-height: 500px;
}

#bottom {
    position: relative;
    background-color: #ebf4fa;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    //height: 100%;
}

footer {
    bottom: 10px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center; 
    color: #4e80b6;
}

.title {
    color: #f2f4f7;   // set via CDB_CSS_PORTAL_TITLE_COLOR env variable
}

.topLeftContent {
    float: left;
    width: 170px;
    vertical-align: central;
    text-align: center;
    margin-left: 25px;
}

.topCenterContent {
    position: relative;
    vertical-align: central;
    text-align: center;
    margin: 0px 170px 0px 170px;
}

.topRightContent {
    float: right;
    width: 170px;
    vertical-align: central;
    text-align: left;
    font-size: 10px;
}

.menubar {
    background: #6da5d8;
}

.activeMenuItem, .activeMenuItem .ui-menuitem-text  {
    background-color: #ebf4fa;
    color: #4e80b6;  
}

.menuContent {
    position: relative;
    vertical-align: central;
    text-align: left;
    margin: 0px 0px 0px 0px;
    color: white;
    background-color: #6da5d8;
}

.menuLeftContent {
    float: left;
    width: 40px;
    height: fit-content;
    text-align: center;
    background-color: #6da5d8;
}

.menuCenterContent {
    position: relative;
    vertical-align: central;
    text-align: left;
    margin: 0px 0px 0px 0px;
    color: white;
    background-color: #6da5d8;
}

.menuRightContent {
    float: right;
    width: 40px;
    vertical-align: central;
    text-align: center;
    background-color: #6da5d8;
}

.middleLeftContent {
    float: left;
    width: 40px;
    height: fit-content;
    text-align: center;
    background-color: #6da5d8;
}

.middleCenterContent {
    position: relative;
    vertical-align: central;
    text-align: left;
    margin: 40px;
    color: white;
}

.middleCenterLeftContent {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}

.middleCenterRightContent {
    float: left;
    margin-bottom: 2%;
}

.middleRightContent {
    float: right;
    width: 40px;
    vertical-align: central;
    text-align: center;
    background-color: #6da5d8;
}

.userNotification h3 {
    color: red;
    margin-bottom: 50px;
}

.actionButtonSmall {
    height: 25px;
    width: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 5px;
    border: 0px;
}

.actionButton {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 0px;
}

.actionButtonRight {
    float: right;
    margin-right: 0px;
    margin-left: 5px;
}

.actionButtonLeft {
    float: left;
    margin-right: 5px;
    margin-left: 0px;
}

.actionLink {
    display: none;
}

.entityDataLabel {
    font-weight: bold;
}

.entityDataEmphasizedLabel {
    font-weight: bold;
    font-size: 105%;
}

.entityDataText {
    font-weight: normal;
    float: left;
}

.entityDataEmphasizedText {
    font-weight: bold;
    font-size: 105%;
}

.entityDataSelectOne {
    font-weight: normal;
}

.entityDataSelectMany {
    font-weight: normal;
    height: 150px;
}

.entityDataError {
    font-weight: bold;
}


.entityDataIcon {
    size: 50px;
}

.createEntityDetails td:nth-child(1) {
    vertical-align: top;
}

.createEntityDetails td:nth-child(2) {
    width: 300px;
}

.viewEntityDetails td:nth-child(1) {
    vertical-align: top;
    width: 125px;
}

.viewEntityDetails td:nth-child(2) {
    vertical-align: top;
    width: 300px;
}

.editEntityDetails td:nth-child(1) {
    vertical-align: top;
}

.editEntityDetails td:nth-child(2) {
    width: 450px;
}

.commandLink {

}

tr:hover .actionLink {
    display: inline-block;
}

.objectPanel {
    display: inline-block;
}

.statusPanel {
    display: inline-block;
    white-space: pre;
}

.queryPanel {
    width: 100%;
}

.queryInput {
    width: 200px;
}

.queryColumn {
    text-align: center;
}

.dialog {
    background: #6da5d8;
    box-shadow: 0px 3px 5px #d5d5d5;    
    vertical-align: central;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.locationSelectDialog {
    background: #6da5d8;
    box-shadow: 0px 3px 5px #d5d5d5;    
    vertical-align: central;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 800px;
}

.invisibleDialogText {
    color: #6da5d8;
}

.dialogDataLabel {
    float: left
}

.htmlPreserve {
    white-space: pre;
}

input, textarea {
    background: #ebf4fa;
    box-shadow: 0px 3px 5px #d5d5d5;
    width: 300px;
}

.loginInput input {
    width: 200px;
}

.cellSelect {
    width: 150px;
}

.longCellSelect {
    width: 300px;
}

.veryLongCellSelect {
    width: 450px;
}

.cellInput {
    width: 125px;
}

.shortCellInput {
    width: 75px;
}

.longCellInput {
    width: 240px;
}

.threeDigitCellInput {
    width: 20px;
}

.fourDigitCellInput {
    width: 30px;
}

select {
    width: 150px;
}

.logDataTable {
    width: 300px;
}

.logTimestampColumn {
    width: 50px;
}

.logUserColumn {
    width: 50px;
}

.logTextColumn {
    width: 150px;
}

.logAttachmentsColumn {
    width: 50px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  24px;
    font-weight: bold;
    margin: 20px;
    padding-bottom: 0px;
    color: #ebf4fa;
    vertical-align: middle;
}

.homePage {
    background-image: url(../../resources/images/ApsStorageRing.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.pageTitle h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  20px;
    font-weight: bold;
    margin: 0px;
    padding-bottom: 40px;
    color: #4e80b6;
    vertical-align: middle;
    text-align: left;
}

.sectionTitle h2 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #4e80b6;
    vertical-align: middle;
    text-align: left;
}

.sectionText {
    font-size: 14px;
    font-weight: normal;
    color: #4e80b6;
}

h2 {
    font-size:  20px;
    font-weight: bold;
    color: #4e80b6;
}

.shortFilterColumn {
    width: 40px;
}

.imagePanel {
    max-height: 200px;
    max-width: 200px;
}

.ui-accordion .ui-accordion-content {
    background: #ebf4fa;    
}

.ui-panelgrid tr, .ui-panelgrid td {
    background: #ebf4fa;
    border: none;
    font-weight: bold;
}

.ui-menu, .ui-menuitem, .ui-menu .ui-menu-child {
    background: #6da5d8;
    color: white;
    margin-top: 0px;
}

.ui-menuitem-text {
    color: white;
    font-weight: bold;
}

.ui-growl-item-container {
    vertical-align: middle;
}

.ui-tooltip {
    text-wrap: normal;
}

.ui-icon {
    display: inline-block;
}

.ui-dialog-footer, .ui-dialog-buttonpane, .ui-dialog .ui-dialog-buttonpane {
    background: #6da5d8;
    text-align: center;
}

.ui-confirm-dialog-message {
    color: white;
}

.ui-column-dnd-bottom {
    display: none;
}

.ui-icon-excel {
    background-image: url(../../resources/images/excel.ico) !important;
    background-repeat: no-repeat;
    background-position: left
}

.ui-icon-pdf {
    background-image: url(../../resources/images/pdf.ico) !important;
    background-repeat: no-repeat;
    background-position: left
}

.ui-galleria-panel element.style {
    width: 500px;
    height: 313px;
}

.autocomplete input {
    width: 123px;
}

.autocomplete button {
    height: 25px;
    width: 25px;
    vertical-align: bottom;
}

.dataTableCheckbox {
    text-align: center;
}

.assemblyTreeTable .ui-treetable thead th,  .ui-treetable thead th  {
    display: none;
}

.assemblyTreeTable .ui-treetable tbody td,  .ui-treetable tbody td  {
    border: 0px;
}

.assemblyTreeTable .ui-widget-content {
    border: 0px;
}

.assemblyTreeTable .ui-treetable-toggler {
    margin-left: -15px;
}
