@import url("portal.css");

html, body {
    background-color: #f1efe2;
}


#bottom {
    background-color: #f1efe2;
}

.designElementRowExpansion {
    background-color: #f1efe2;
}

.designElementRowExpansionDetails {
    padding-left: 20px;
}

.activeMenuItem, .activeMenuItem .ui-menuitem-text  {
    background-color: #f1efe2;
}


input, textarea {
    background: #f1efe2;
}

h1 {
    color: #f1efe2;
}

.ui-accordion .ui-accordion-content {
    background: #f1efe2;    
}

.ui-panelgrid tr, .ui-panelgrid td {
    background: #f1efe2;
}

.ui-panel {
    border: 0px; 
    background: #f1efe2; 
}

.redRow {
    background: #ff8080; 
}

.blueRow {
    background: #b3d9ff; 
}

.greenRow {
    background: #99e699;
}

.yellowRow {
    background: #ffff99;
}

.orangeRow {
    background: #ffcc80; 
}

.pinkRow {
    background: #ffcce6; 
}

.purpleRow {
    background: #e6ccff; 
}

.violetRow {
    background: #9966ff;
    color: white; 
}

.violetRow a {
    color: white; 
}

.violetRow a:hover {
    color: wheat; 
}

