@import url("portal.css");

html, body {
    background-color: #f1efe2;
}


#bottom {
    background-color: #f1efe2;
}

.activeMenuItem, .activeMenuItem .ui-menuitem-text  {
    background-color: #f1efe2;
}


input, textarea {
    background: #f1efe2;
}

h1 {
    color: #f1efe2;
}

.ui-accordion .ui-accordion-content {
    background: #f1efe2;    
}

.ui-panelgrid tr, .ui-panelgrid td {
    background: #f1efe2;
}

.ui-panel {
    border: 0px; 
    background: #f1efe2; 
}

