th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #9999cc;
	text-align: center;
}

body {
	background: #FFFFFF;
}

td {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.value {
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}

.warning {
	background-color: #FF0000;
}

.genericInfo {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
}

.sectionTable {
	overflow: auto;
	width: 100%;
	font-size: 9px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
}

.importantInfo {
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
}

.resulttextsmallcontrast {
	background-color: #ccddcc;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	font-weight: normal;
	text-indent: 5px;
}

.resulttextsmall {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	font-weight: normal;
	text-indent: 5px;
}

.resulttextbold {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	text-indent: 5px;
}

.primarynormal {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #889988;
	text-align: left;
	text-indent: 5px;
	font-weight: normal;
}

.primarynormalsmall {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #889988;
	text-align: left;
	text-indent: 5px;
	font-weight: normal;
	font-size: 12px;
}

.cableboldsmallcenter {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #dddddd;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

.cableboldsmall {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #dddddd;
	text-align: left;
	font-weight: bold;
	text-indent: 5px;
	font-size: 12px;
}

.value {
	background-color: #CCCCFF;
	color: #000000;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}

.cable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #999999;
	text-align: center;
}

.center {
	text-align: center;
}

.params {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #9966CC;
	text-align: left;
	text-indent: 5px;
}

.terminal {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #7777bb;
	text-align: left;
	text-indent: 5px;
	font-weight: bold;
}

.secondary {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #669988;
	text-align: left;
	text-indent: 5px;
	font-weight: bold;
}

.primary {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #889988;
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
}

.results {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left: 10px;
}

.dim {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #CCC;	
	font-size: 14px;
	text-align: left;
	font-weight: normal;
	padding-left: 8px;
	padding-right: 8px;
}

.divider {
	color: #06F;
	font-weight: bolder;
	font-size: 18px;
}
