body {
    background-color: #f2f4f7;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    margin: 0px;
}

a:link, a:visited {
    color: #4e80b6;
    font-weight: bold;
}

a:link:hover, a:visited:hover  {
    color: #6da5d8;
    font-weight: bold;
}
