#helpHints
{
	position: absolute;
	top: 80px;
	left: 255px;
	font-size: 10pt;
}
a.help
{
	text-decoration: none;	
}
#helpSection
{
	position: absolute;
	top: 0px;
	left: 500px;
	z-index: 1;
	background-color: white;
	border: 1px solid orange;
}
.globalTitle
{
	font-size: 18pt;	
	position: absolute;
	top: 30px;
	left: 200px;	
}
.serverTitle
{
	position: absolute;
	top: 60px;
	left: 210px;
}

b.search 
{
	background-color: yellow;
	font-size: 14pt;
}

b.title
{
	color: red;
}

img
{
	border: 0;
}

a.tableData
{
	text-decoration: none;	
}

a.unselectedTab:hover
{
	background-color: yellow;
}

a.selectedTab:hover
{
	background-color: yellow;
}

a.unselectedTab
{
	text-decoration: none;
	background-color: white;
	padding-right: 2px;
	border: 2px solid black;
}

a.selectedTab
{
	background-color: orange;
	padding-right: 2px;
	text-decoration: none;
	border: 2px solid black;
}

a.unselectedGlobalTab
{
	text-decoration: none;
	background-color: white;
	padding-right: 2px;
	border: 2px solid black;
}

a.selectedGlobalTab
{
	background-color: red;
	padding-right: 2px;
	text-decoration: none;
	border: 2px solid black;
}

#allviewers
{
	border: 10px solid red;
	height: 810px;
	width: 1220px;
}

.unselectedContent
{
	display: none;
}

.selectedContent
{
	display: block;
}

.criteria 
{
	align: center;
	float: left;
}

#searchCriteriaSection
{
	clear: both;
}

#resultsSection
{
	clear: both;
	font-size: 11pt;
}
#Section
{
	border: 10px solid orange;
	height: 870px;
	width: 1200px;
}

.list 
{
	font-size: 11pt;
	display: block;
	overflow: auto;
	height: 650px;
	float: left;
}
.report 
{
	float: left;
	overflow: auto;
	display: block;
	height: 650px;
	width: 830px;
}

table
{
	font-size: 10pt;
}

.reportTool
{
	clear: both;
	display: block;
	height: 50px;
	width: 350px;
}

.moreIoc
{
	display: block;
	overflow: auto;
	width: 90px;
	height: 70px;
}
.moreDescription
{
	display: block;
	overflow: auto;
	width: 200px;
	height: 70px;
}